* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;

}

.contenedor1 {
    background-image: url(../210995.jpg);
    background-position: center;
    background-size: cover;

}

.header {
    background: black;
    background: linear-gradient(180deg, rgba(0, 0, 0), rgba(0, 0, 0, 0));
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
    padding-left: 50px;
    padding-top: 10px;
}

.nav {
    width: 80%;
    display: flex;
    justify-content: end;
}

.toggle {
    background: none;
    color: white;
    padding-right: 20px;
    border: none;
    flex-direction: row;


}


@media (max-width: 768px) {


    .nav {
        top: 0;
        left: 0;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        ;
    }

    .nav ul {
        display: flex;
        flex-direction: column;

    }

}

.nav ul {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: end;
    padding-right: 50px;

}

.nav ul li {
    padding-left: 20px;
    text-decoration: none;
    list-style: none;
}

.nav ul li a {
    text-decoration-line: none;
    color: white;
    font-size: 24px;
}

.enlace {
    padding: 5px 10px;
    border-radius: 7px;
}

.enlace:hover {
    background-color: #df2d2d;
    transition: 0.3s;
    gap: 2rem;
}

.boton {
    background-color: #df2d2d;
    padding: 5px 10px;
    border-radius: 7px;
}

.boton:hover {
    background-color: #3e3e3e;
    transition: 0.3s;
    padding: 8px 10px;
}

.banner {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner_textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 90px;
    overflow: hidden;
}

.banner_textos h1 {
    color: white;
    font-size: 180px;
    text-align: center;
    padding: 0px 0px;
}

@media (max-width: 1600px) {

    .banner_textos h1 {
        font-size: 160px;
    }

    .banner_textos p {
        font-size: 10px;

    }
}

@media (max-width: 1450px) {

    .banner_textos h1 {
        font-size: 130px;
    }
}

@media (max-width: 1230px) {

    .banner_textos h1 {
        font-size: 110px;
    }
}

@media (max-width: 1060px) {

    .banner_textos h1 {
        font-size: 90px;
    }
}

.banner_textos p {
    color: white;
    font-size: 30px;
    text-align: center;
}

.banner_textos a {}