/*Eliminia formato por defecto*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import "./screens/full";
@import "./screens/768";
@import "./screens/576";



